@model Task6.Models.USER

@{
    ViewBag.Title = "ResetPasswordt";
}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UsersID)

        <div class="form-group">
            <label>Current Password</label>
            <div class="col-md-10">
                <input type="password" name="currentPassword" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>New Password</label>
            <div class="col-md-10">
                <input type="password" name="newPassword" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Confirm New Password</label>
            <div class="col-md-10">
                <input type="password" name="confirmNewPassword" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
