
@{
    ViewBag.Title = "logIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section>
        <div class="px-4 py-5 px-md-5 text-center text-lg-start">
            <div class="container">
                <div class="justify-content-center">
                    <div class="row gx-lg-5 align-items-center">
                        <div class="col-lg-6 mb-5 mb-lg-0">
                            <div class="card">
                                <div class="card-body py-5 px-md-5">
                                    <div>
                                        <h1 class="form-header_header__UhqWw" style="text-align: center;">Sign in to your account.</h1>
                                        <p class="form-header_description__2ic93" style="text-align: center;">
                                            <span>
                                                Build skills for today, tomorrow, and beyond.<br>
                                                Education to future-proof your career.
                                            </span>
                                        </p>
                                    </div>
                                    <div class="or-separator_contain__3YaFK" style="text-align: center;">
                                        _____________________________________________________
                                    </div>
                                    <br />

                                    <div class="mb-3">
                                        <label for="newUsername" class="form-label">Username</label>
                                        <input type="text" id="newUsername" class="form-control">
                                        <span id="newUsernameError" style="color: red;"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="newID" class="form-label">ID</label>
                                        <input type="text" id="newID" class="form-control">
                                        <span id="newIDError" style="color: red;"></span>
                                    </div>
                                    <div class="text-center">
                                        <button id="btnLogin" class="btn btn-primary">Login</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
