
@{
    ViewBag.Title = "ShowStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShowStudents</h1>

<br /><br />

<h5>Student One: @ViewBag.student1</h5>
<h5>Student Two: @ViewBag.student2</h5>
<h5>Student Three: @ViewBag.student3</h5>

